
    <div class="alert hidden" role="alert">

    </div>

    <div id="ctd-modal" class="fade modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Task Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="ctd-modal-taskname">Task</label>
                <input class="form-control" type="text" name="ctd-modal-taskname" value="">
                <label for="ctd-modal-duedate">Due Date</label>
                <input class="form-control" type="text" name="ctd-modal-duedate" value="">
                <label for="ctd-modal-startime">Start Time</label>
                <input class="form-control" type="text" name="ctd-modal-startime" value="">
                <label for="ctd-modal-endtime">End Time</label>
                <input class="form-control" type="text" name="ctd-modal-endtime" value="">
                <label for="ctd-modal-completed">Mark Completed</label>
                <input class="form-control"type="checkbox" name="ctd-modal-completed" value="1">
                <label for="ctd-modal-note">Note</label>
                <input class="form-control" type="textarea" name="ctd-modal-note" value="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="ctd-modal-submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist" id="navbar-example">
          <li class="nav-item">
             <h1 class="navbar-brand mb-0">Calendar To Do</h1>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/month/week" id="ctd-week">Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/month/index">Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/access/logout">Logout</a>
          </li>
        </ul>
        <div class="row justify-content-center">
          <div class="btn-group month-buttons" role="group" aria-label="Basic example">
            <button id="ctd-prev-month" type="button" class="btn btn-secondary">Prev</button>
            <button id="ctd-month" type="button" class="btn btn-secondary"></button>
            <button id="ctd-next-month" type="button" class="btn btn-secondary">Next</button>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                  <th class="ctd-five-percent"></th>
                  <th class="ctd-one-seventh">Sunday </th>
                  <th class="ctd-one-seventh">Monday </th>
                  <th class="ctd-one-seventh">Tuesday </th>
                  <th class="ctd-one-seventh">Wednesday </th>
                  <th class="ctd-one-seventh">Thursday </th>
                  <th class="ctd-one-seventh">Friday  </th>
                  <th class="ctd-one-seventh">Saturday </th>
                </tr>
                <tr id="ctd-fullday-events">
                  <td class="ctd-five-percent"></td>
                  <td class="ctd-one-seventh"></td>
                  <td class="ctd-one-seventh"></td>
                  <td class="ctd-one-seventh"></td>
                  <td class="ctd-one-seventh"></td>
                  <td class="ctd-one-seventh"></td>
                  <td class="ctd-one-seventh"></td>
                  <td class="ctd-one-seventh"></td>

                </tr>
              </thead>
            </table>
            <div id ="ctd-scroll-area" class="p-0">
              <table id="ctd-week" class="table table-bordered">
                <tbody id="ctd-week-events" class="ctd-table">

                </tbody>
             </table>
         </div>
          </div>
          <div class="col-3">
            <ul  class="list-group">
              <li class="list-group-item">
                <input id="new-task" type="text" />
                <button id="new-task-button" type="button"> New Task </button>
              </li>
            </ul>
            <h4>With Due Date</h4>
            <ul id="ctd-has-duedate" class="list-group">
            </ul>
            <h4>No Due Date</h4>
            <ul id="ctd-no-duedate" class="list-group">
            </ul>
            <div id="test">
            </div>
          </div>
        </div>


    </div>
  <form>
    <input type="hidden" id="ctd-month-value" value="*** echo $_SESSION['month'];***"/>
    <input type="hidden" id="ctd-year-value" value="*** echo $_SESSION['year'];***"/>
  </form>
  <script type="text/javascript">
    $(document).ready(function(){
      loadWeekView();
    });
  </script>
